$('#playlist_songs').append("<div class='song' data-id='<%= @song.id.to_s %>' data-embed-url='<%= @song.embed_url %>' data-title='<%= @song.title %>'><div id='pl-song-thumb'><img src='<%= @song.thumbnail%>'></div><div id='pl-song-title' class='desc truncate line-clamp'><%= @song.title %></div><a class='song-delete-button'><i class='fa fa-minus-circle'></i></a></div>");
$('.song-delete-button').click(function() {
    var song_id = $(this).parent().data('id');
    var playlist = $('.active-playlist').data('id');
    console.log(song_id);
    $.ajax({
        url: "/songs/" + song_id,
        type: "DELETE",
        data: {
            id: song_id,
            playlist: playlist
        },
        success: console.log("Playlist id:" + playlist)
    });
});

var get_song_id = function(){
    return '<%= j Song.last.id.to_s %>';
};
