$('.new_playlist').remove();
$('#new_link').show();
$('.dropdown-menu').append("<li><a id=" + '<%= j Playlist.last.id.to_s%>' + " class='playlist' data-songs=" + '<%=j Playlist.last.songs.to_json%>' + " data-playlistid=" + '<%= j Playlist.last.id.to_s%>' + " data-name='" + '<%= j Playlist.last.name %>' + "'>" + '<%= j Playlist.last.name %>' + "</a></li>");
$('.playlist').click(function() {
    var id = $(this).data('playlistid');
    var name = $(this).data('name')
    $('#playlist_songs').empty();
    $('#playlist_songs').append("<h4 class='active-playlist' data-id=" + id + ">" + name + "</h4>")
    $('#playlist_songs').append("<a class='delete-button'><i class='fa fa-minus-circle'></i></a>");
    $('.delete-button').click(function() {
        var playlist = $('.active-playlist').data('id');
        $.ajax({
            url: "/playlists/" + id,
            type: "DELETE"
        });
    });
});