$('.new_playlist').remove();
$('#new_link').show();
$('.dropdown-menu').append("<li><a id=" + '<%= @playlist.id.to_s%>' + " class='playlist' data-songs=" + '<%=@playlist.songs.to_json%>' + " data-playlistid=" + '<%= @playlist.id.to_s%>' + " data-name='" + '<%= @playlist.name %>' + "'>" + '<%= @playlist.name %>' + "</a></li>");