//playlist_controller create action sends us here.
//a new playlist has been created, so we remove the form, and show the new link button again
$('.new_playlist').remove();
$('#new_link').show();
//append the dropdown-menu with the new playlist name and its attributes
$('.dropdown-menu').append("<li><a id=" + '<%= j Playlist.last.id.to_s%>' + " class='playlist' data-songs=" + '<%=j Playlist.last.songs.to_json%>' + " data-playlistid=" + '<%= j Playlist.last.id.to_s%>' + " data-name='" + '<%= j Playlist.last.name %>' + "'>" + '<%= j Playlist.last.name %>' + "</a></li>");
$('.playlist').click(function() {
    var id = $(this).data('playlistid');
    var name = $(this).data('name')
    $('#playlist_songs').empty();
    $('#playlist_title').append("<h4 class='active-playlist' data-id=" + id + ">" + name + "</h4>")
    $('#playlist_songs').append("<a class='delete-button'><i class='fa fa-minus-circle'></i></a>");
    $('.delete-button').click(function() {
        //var playlist is sent to the songs_controller create method as params
        var playlist = $('.active-playlist').data('id');
        $.ajax({
            url: "/playlists/" + id,
            type: "DELETE"
        });
    });
    //this is for when you create a new playlist, click out of it and then back in it without refreshing the page.
    var songData = $(this).data('songs');
    for (var i = 0; i < songData.length; i++) {

        var template = "<div class='song' data-id='" + songData[i].id + "' data-embed-url='" + songData[i].embed_url + " data-title='" + songData[i].title + "'><div id='pl-song-thumb'><img src='" + songData[i].thumbnail + "'></div><div id='pl-song-title' class='desc truncate line-clamp'>" + songData[i].title + "</div><a class='song-delete-button'><i class='fa fa-minus-circle'></i></a></div>";

        $('#playlist_songs').append(template)
        var id = $(".song" + songData[i].id).data('id');
    }
    $('.song-delete-button').click(function() {
        var song_id = $(this).parent().data('id');
        var playlist = $('.active-playlist').data('id');
        console.log(song_id);
        $.ajax({
            url: "/songs/" + song_id,
            type: "DELETE",
            data: {
                id: song_id,
                playlist: playlist
            },
            success: console.log("Playlist id:" + playlist)
        });
    });


});
